.form-container{
    
    background-color: #7fa37f;
    width: 36%;
    margin: auto;
    height: 331px;
    border: 5px solid cadetblue;
    border-radius: 21px;
}

.input-box{
    background-color: aqua;
    width: 65%;
    padding: 7px;
    font-size: 16px;
    
}

.lable-input{
    /* background-color: blue; */
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 7px;
    font-size: 22px;
}

#submit-btn{
    display: block;
    margin: auto;
    background: cadetblue;
    margin-top: 28px;
    padding: 9px;
    width: 97px;
    font-size: larger;
}

.todo-container-div{
    background: darkgray;
    width: 70%;
    margin: auto;
    margin-top: 17px;
}

.todo-item{display: flex;
    border: 1px solid gray;
    justify-content: space-around;
    font-size: x-large;
    margin-bottom: 9px; 
}